.padding-1 {
    padding: 1em;
}

.status-true {
    background: #c8e6c9;
    color: #256029;
}

.status-false {
    background: #ffcdd2;
    color: red
}

.product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-grid-item .product-grid-item-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-grid-item-content {
    text-align: center;
}

.showbold {
    font-size: 1 rem;
    font-weight: 700;
}

.product-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    margin: 2rem 0;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-grid-item .product-grid-item-bottom,
.product-grid-item .product-grid-item-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pad-left-1 {
    padding-left: 1em;
}

.productpriceFont {
    font-size: 21px;
    color: #B12704;
}

.floatbtn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3em;
    height: 1.5em;
}